/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONT @IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* VARIABLES */

:root {
  /* COLORS PRIMARY */
  --Very-dark-blue: hsl(232, 51%, 11%); /* (main background) */
  --Dark-desaturated-blue: hsl(244, 38%, 16%); /* (card background) */
  --soft-violet: hsla(277, 50%, 66%, 0.823); /* (accent) */
  --soft-violet-text: hsl(277, 34%, 40%); /* (accent) */

  /* COLORS NEUTRAL */

  --White: hsl(0, 0%, 100%); /* (main heading, stats) */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.603); /* (main paragraph) */
  --Slightly-transparent-white-stat: hsl(0, 0%, 95%); /* (stat headings) */

  /* FONT */

  --font-inter: 'Inter', sans-serif;
  --font-lexend-deca: 'Lexend Deca', sans-serif;
}

body{
  background-color: rgb(13, 11, 32);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card__container{
  /* border: 1px solid rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Dark-desaturated-blue);
  width: 20.5rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 2.8rem .5rem;
}

.img__container{
  width: 100%;
  aspect-ratio: 1.5/1;
  background-image: url(images/image-header-mobile.jpg);
  background-size: cover;
  background-color: var(--soft-violet);
  background-blend-mode: multiply;
}

.data__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__container{
  width: 16.5rem;
  margin-top: 1rem;
}

.title{
  margin-top: .7rem;
  font-family: var(--font-inter);
  color: var(--Slightly-transparent-white-stat);
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

span{
  color: var(--soft-violet-text);
}

.text{
  width: 90%;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.5rem;
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--Slightly-transparent-white);
  font-size: .85rem;
}


.quantity__container{
  margin-bottom: 1rem;
}

.units{
  margin: 1.5rem 0;
  text-align: center;
  color: var(--White);
  font-family: var(--font-inter);
}

.units__title{
  font-weight: 700;
  color: var(--Slightly-transparent-white-stat);
}

.units__text{
  margin-top: .4rem;
  font-size: .5rem;
  color: var(--Slightly-transparent-white-stat);
  letter-spacing: .05rem;
}



.attribution { font-size: 11px; text-align: center; color: #fff;}
.attribution a { color: hsl(228, 45%, 44%); }